<h2>Home</h2>
<form action="/artist-search" method='GET'>
  <input type='text' name='artist' id='name' placeholder='e.g Search for Artist' />
  <button type='submit'>Search For An Artist</button>
</form>